---
import Layout from "@layouts/Layout.astro";
import Bubble from "@components/organisms/Bubble.astro";
import Hero from "@components/organisms/Hero.astro";
import Service from "@components/organisms/Service.astro";
import Blog from "@components/organisms/Blog.astro";
import Contact from "@components/organisms/Contact.astro";
---

<Layout title="Pulpunte">
  <main class="relative z-10">
    <Bubble />
    <Hero />
    <Service />
    <Blog />
    <Contact />
  </main>
</Layout>
