---
import Card from "@components/ui/Card.astro";
import Title from "@components/ui/Title.astro";

// 仮のブログ・ニュースデータ
const newsData = [
  {
    title: "Web3の可能性とその活用法",
    date: "2023-03-01",
    excerpt: "Web3技術の概要や、その活用法について解説します。",
    link: "/blog/web3-potential",
  },
  {
    title: "AIを活用したWeb開発の最前線",
    date: "2023-02-15",
    excerpt: "AIを活用したWeb開発の最新トレンドとその事例について紹介します。",
    link: "/blog/ai-web-development",
  },
  {
    title: "ドローン技術がもたらす新しいビジネスモデル",
    date: "2023-01-30",
    excerpt:
      "ドローン技術がもたらす新しいビジネスモデルや市場展望について説明します。",
    link: "/blog/drone-business-models",
  },
];
---

<section id="blog" class="z-20 relative py-12 md:py-20 bg-base-light">
  <div class="container mx-auto px-10 grid gap-y-8">
    <Title title="最新のブログ・ニュース" />
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8">
      {
        newsData.map((news) => (
          <li>
            <Card>
              <h3 class="text-2xl font-bold mb-2">{news.title}</h3>
              <p class="text-secondary mb-4">{news.date}</p>
              <p class="mb-4">{news.excerpt}</p>
              <a href={news.link} class="text-accent font-semibold self-end">
                続きを読む
              </a>
            </Card>
          </li>
        ))
      }
    </ul>
  </div>
</section>
