---
import Title from "@components/ui/Title.astro";
const formUrl = import.meta.env.PUBLIC_NEWT_FORM_URL;
---

<section id="contact" class="z-20 relative py-12 md:py-20">
  <div class="container mx-auto px-10 grid gap-y-8">
    <Title title="お問い合わせ" />
    <form method="post" class="relative z-10 glass p-10" action={formUrl}>
      <div class="mb-6">
        <label for="name" class="block text-black mb-2">お名前</label>
        <input
          id="name"
          name="name"
          type="text"
          class="w-full border border-base-dark rounded-md p-2 bg-transparent invalid:border-accent"
          required
        />
      </div>
      <div class="mb-6">
        <label for="email" class="block text-black mb-2">メールアドレス</label>
        <input
          id="email"
          name="email"
          inputmode="email"
          type="email"
          class="w-full border border-base-dark rounded-md p-2 bg-transparent invalid:border-accent"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          required
        />
      </div>
      <div class="mb-6">
        <label for="message" class="block text-black mb-2"
          >お問い合わせ内容</label
        >
        <textarea
          id="message"
          name="message"
          rows="6"
          class="w-full border border-base-dark rounded-md p-2 bg-transparent invalid:border-accent"
          required></textarea>
      </div>
      <button type="submit" class="py-3 px-6 rounded-md bg-accent text-white"
        >送信
      </button>
    </form>
  </div>
</section>
