---
import Logo from "@components/ui-parts/Logo.astro";
---

<header
  id="header"
  class="transition duration-1000 ease-linear fixed top-0 left-0 w-full z-30"
>
  <nav class="container mx-auto flex items-center py-2 justify-between">
    <Logo />
    <ul class="hidden md:flex space-x-6">
      <li><a href="/about">企業概要</a></li>
      <li><a href="/services">サービス</a></li>
      <li><a href="/blog">ブログ・ニュース</a></li>
      <li><a href="/contact">お問い合わせ</a></li>
    </ul>
    <button
      id="menuToggle"
      class="md:hidden text-black"
      aria-haspopup="true"
      aria-expanded="false">Menu</button
    >
  </nav>
  <div
    id="mobileMenu"
    class="hidden md:hidden absolute top-full left-0 w-full p-4"
    role="menu"
  >
    <ul class="space-y-4">
      <li role="none">
        <a href="/about" role="menuitem">企業概要</a>
      </li>
      <li role="none">
        <a href="/services" role="menuitem">サービス</a>
      </li>
      <li role="none">
        <a href="/blog" role="menuitem">ブログ・ニュース</a>
      </li>
      <li role="none">
        <a href="/contact" role="menuitem">お問い合わせ</a>
      </li>
    </ul>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    const menuToggle = document.getElementById("menuToggle");
    const mobileMenu = document.getElementById("mobileMenu");

    if (!(header && menuToggle && mobileMenu)) return;
    menuToggle.addEventListener("click", () => {
      const expanded = menuToggle.getAttribute("aria-expanded") === "true";
      mobileMenu.classList.toggle("hidden");
      menuToggle.setAttribute("aria-expanded", `${!expanded}`);
    });

    window.addEventListener("scroll", () => {
      if (window.scrollY < 100) {
        header.classList.remove("glass");
      } else {
        header.classList.add("glass");
      }
    });
  });
</script>
