---
import Logo from "@components/ui/Logo.astro";
---

<header
  id="header"
  class="transition duration-1000 ease-linear fixed top-0 left-0 w-full z-30"
>
  <nav class="container mx-auto flex items-center py-2 justify-between">
    <a href="/" class="w-80">
      <Logo />
    </a>
    <ul class="hidden md:flex gap-x-3 [&>li]:duration-200 [&>li]:transition">
      <li class="hover:bg-accent hover:text-white py-2 px-3 rounded-lg">
        <a href="#services">サービス</a>
      </li>
      <li class="hover:bg-accent hover:text-white py-2 px-3 rounded-lg">
        <a href="#blog">ブログ・ニュース</a>
      </li>
      <li class="hover:bg-accent hover:text-white py-2 px-3 rounded-lg">
        <a href="#contact">お問い合わせ</a>
      </li>
    </ul>
    <button
      id="menuToggle"
      class="md:hidden"
      aria-haspopup="true"
      aria-expanded="false">Menu</button
    >
  </nav>
  <div
    id="mobileMenu"
    class="hidden md:hidden absolute top-full left-0 w-full p-4"
    role="menu"
  >
    <ul class="space-y-4">
      <li role="none">
        <a href="#services" role="menuitem">サービス</a>
      </li>
      <li role="none">
        <a href="#blog" role="menuitem">ブログ・ニュース</a>
      </li>
      <li role="none">
        <a href="#contact" role="menuitem">お問い合わせ</a>
      </li>
    </ul>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    const menuToggle = document.getElementById("menuToggle");
    const mobileMenu = document.getElementById("mobileMenu");

    if (!(header && menuToggle && mobileMenu)) return;
    menuToggle.addEventListener("click", () => {
      const expanded = menuToggle.getAttribute("aria-expanded") === "true";
      mobileMenu.classList.toggle("hidden");
      menuToggle.setAttribute("aria-expanded", `${!expanded}`);
    });

    window.addEventListener("scroll", () => {
      if (window.scrollY < 100) {
        header.classList.remove("glass");
      } else {
        header.classList.add("glass");
      }
    });
  });
</script>
