<section
  class="bg-cover bg-base-light bg-center h-screen w-screen relative z-0"
>
  <div class="container mx-auto flex items-center justify-center h-full">
    <h1 class="text-4xl md:text-7xl font-bold text-center">
      <span class="text-">Discover the unknown by giving it a try.</span>
    </h1>
  </div>
</section>
