---
import Card from "@components/ui/Card.astro";
import { Image } from "@astrojs/image/components";
import Title from "@components/ui/Title.astro";

const services = [
  {
    src: "/images/service-web.webp",
    title: "Webサービス",
    text: "革新的なWebサービス開発でお客様のビジネスをサポートします。",
  },
  {
    src: "/images/service-ai.webp",
    title: "AI技術",
    text: "  最新のAI技術を活用して、効率的でスマートなソリューションを提供します。",
  },
  {
    src: "/images/service-web3.webp",
    title: "Web3サービス",
    text: "ブロックチェーンや分散技術を活用したWeb3サービスの開発を行います。",
  },
];
---

<section id="services" class="z-20 relative py-12 md:py-20">
  <div class="container mx-auto grid gap-y-8 px-10">
    <Title title="サービス" />
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-10 lg:gap-y-20 gap-8">
      {
        services.map((service) => (
          <Card>
            <Image
              class="rounded-lg"
              src={service.src}
              alt={service.title}
              width={400}
              height={400}
              format="webp"
            />
            <h3 class="text-xl font-semibold mt-4">{service.title}</h3>
            <p class="mt-2">{service.text}</p>
          </Card>
        ))
      }
    </div>
  </div>
</section>
