---
import Card from "@components/ui-parts/Card.astro";
import { Image } from "astro/components";

const services = [
  {
    src: "/images/service-web.webp",
    title: "Webサービス",
    text: "革新的なWebサービス開発でお客様のビジネスをサポートします。",
  },
  {
    src: "/images/service-ai.webp",
    title: "AI技術",
    text: "  最新のAI技術を活用して、効率的でスマートなソリューションを提供します。",
  },
  {
    src: "/images/service-web3.webp",
    title: "Web3サービス",
    text: "ブロックチェーンや分散技術を活用したWeb3サービスの開発を行います。",
  },
];
---

<section class="z-20 relative py-12 md:py-20">
  <div class="container mx-auto">
    <h2 class="text-center text-3xl md:text-4xl font-bold mb-8">サービス</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-10 lg:gap-20">
      {
        services.map((service) => (
          <Card>
            <Image
              src={service.src}
              alt={service.title}
              width={400}
              height={400}
            />
            <h3 class="text-xl font-semibold mt-4">{service.title}</h3>
            <p class="mt-2">{service.text}</p>
          </Card>
        ))
      }
    </div>
  </div>
</section>
