---
---

<div id="wrapper" class="z-0 fixed w-screen h-screen left-0 top-0"></div>
<style>
  #wrapper {
    background: linear-gradient(
      to top right,
      #d9e6ff 0%,
      #d9eeff 50%,
      #ffffff 100%
    );
  }
</style>
