---
---

<div id="wrapper" class="z-0 fixed w-screen h-screen left-0 top-0"></div>
<style>
  #wrapper {
    background: linear-gradient(
      to top left,
      #8da9e2 0%,
      #a6badd 30%,
      #c5d0e8 50%,
      #e2e6f4 80%,
      #f9f9fa 100%
    );
  }
</style>
