---
// ロゴ画像のパスを変更する場合は、以下の行を編集してください
const logoImagePath = "/images/sample-logo.png";
---

<a href="/" class="flex items-center space-x-2">
  <img src={logoImagePath} alt="ロゴ" class="w-10 h-10" />
  <span class="text-2xl font-semibold">Yuito Watanabe</span>
</a>
